*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    color: #000;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #a22851;
    position:sticky;
    top: 0;
    z-index: 999;
}

.nav-logo img{
    width: 10%;
}
.nav-links{
    list-style: none;
}

.nav-links li{
   display: inline-block;
   padding: 5px 10px;
}

.nav-links li a{
    color:#FFF;
    text-decoration: none;
    font-weight: 800;
}

.nav-links li a:hover{
    color:#ffb769;
    font-weight: 800;
}

.section-title{
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color:#FFF;
}

#about{
    background-color: #a22851;
}

#about p{
    color:#FFF;
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 30px 0px;
    font-size: 20px;
}


#contact{
    background-color: #FFF;
}

#contact .col{
    width: 100%;
    float: center;
    text-align: center;
    padding: 30px 20px;
}

.input{
    border: 2px solid #b94e97;
    border-radius: 10px;
    width: 50%;
    padding: 10px 20px;
    margin: 10px 20px;
}

.input:focus{
    outline: none;
}

.btn{
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #b94e97;
    color: #FFF;
    border-color: #ffa2a4;
}
