*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    color: #000;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #a22851;
    position:sticky;
    top: 0;
    z-index: 999;
}

.nav-logo img{
    width: 10%;
}
.nav-links{
    list-style: none;
}

.nav-links li{
   display: inline-block;
   padding: 5px 10px;
}

.nav-links li a{
    color:#FFF;
    text-decoration: none;
    font-weight: 800;
}

.nav-links li a:hover{
    color:#ffb769;
    font-weight: 800;
}

#about h2{
    font-size: 2.5rem;
    color: #ffa2a4;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    background-color: #a22851;
}

.container .pt-5{
    display: grid;
    width: 75%;
    max-width: 1000px;
    margin: 20px auto;
    grid-gap: 50px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
   
    /* Permite que las columnas sean responsives 
    la funcino minmax, permite establece un valor minimo y maximo a las columnas
    dependiendo del tamaño de la pantalla */
    
    grid-template-columns: repeat(auto-fill,minmax(40em,1fr));
    gap: 10px;
}

.box{
    border: 4px solid #78366e;
    border-radius: 20px;
    background-color: #FFF;
}

.box-form {
    padding: 10px;
}

.box img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 2px solid blueviolet;
}

.box .texto{
    margin: 0px 10px;
}

.texto h2{
    color: #4e2750;
}

.pt-5{
    padding-top: 5px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}
